
body, html {
margin:0px; 
padding:0px;
text-align:center; 
background:#fff;
color:#000;
font-family:sans-serif;
line-height:1.6;
}
#container{
width:70%;
min-width:800px; 
margin:0 auto;  
text-align:left;  
}
#header{
background-color:#e8f0f5;
border-style: solid;
border-color: #b0d0e9;
border-width: 1px;
border-top-width: 0px;
width:100%;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;

}
#header h1 {
	margin: 0; 
	padding: 10px; 
}

.log{
	width: 80px;
	border:solid 1px #848388;
}

#logindiv {
	text-align:right;
	float:right;
	position:relative;
	bottom:30px;
	right: 20px;
}
.filter{
	float: right;
	/*width: 25%;*/
}
.add{
	float: left;
	/*width: 50%;*/

}
.books_tab{
	float:left;
	width:100%;
	font-size:0.9em;
}
.books_tab_header{
/*	float:left;
*/	line-height:2;
	height:2em;
	background:#e8f0f5;
	border:1px solid #b0d0e9;
	border-bottom:0;
	padding-left: 20px;
	
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
}
#edit_mode{
	float:right;
	text-align: right;
	position: relative;
	right: 10px;
}
.books_tab_content{
	clear: left;
	border:1px solid #b0d0e9;
	padding:5px;
	min-height: 50px;
	
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
}
.authors_tab{
	float:left;
	width:40%;
	margin-left: 1%;
	font-size:0.9em;
	display: none;
	opacity: 0;
}
.authors_tab_header{
/*	float:left;
*/	line-height:2;
	height:2em;
	background:#e8f0f5;
	border:1px solid #b0d0e9;
	border-bottom:0;
	padding-left: 20px;
	
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
}
.authors_tab_content{
	clear: left;
	border:1px solid #b0d0e9;
	padding:5px;
	min-height: 50px;
	
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
}

.find{
	border:solid 1px #848388;
	position: relative;
	top: -2px;
}	
.book{
/*	width:95%;
*/	background-color:#e8f0f5;
	border-style: solid;
	border-color: #b0d0e9;
	border-width: 1px;
	padding: 5px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	margin:5px 0;
}		
.book_author{
	background-color:#e8f0f5;
	border-style: solid;
	border-color: #b0d0e9;
	border-width: 1px;
	padding: 5px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	margin:5px 0;
	/*width: 50%;*/
	text-align: center;
/*	float: left;
	clear: left;
	position: relative;
	left: 25%;*/
}
.edit_icons{
/*	float: left;
	position: relative;
	left: 25%;
	top: 10px;
*/}
.book_title{
	font-size:2em;	
}
.book_edit{
	font-size:2em;	
}
.button:hover {
	background-color:#bfdff4;
}
